[submodule "strong_reject"]
	path = strong_reject
	url = https://github.com/dsbowen/strong_reject.git
[submodule "SafeSwitch"]
	path = SafeSwitch
	url = https://github.com/samuelsimko/SafeSwitch.git
[submodule "latent-adversarial-training"]
	path = latent-adversarial-training
	url = https://github.com/aengusl/latent-adversarial-training.git
